# Import Modules

In [1]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)

df

   A  B  C  D  E
0  8  5  6  2  1
1  2  7  8  7  3
2  4  8  8  4  3
3  4  2  9  8  3
4  2  7  7  6  9
5  5  8  6  2  5
6  3  6  3  8  7
7  8  7  9  4  5
8  6  6  5  6  4
9  5  8  2  4  3

# Menghitung Jumlah Baris Menurut Kriteria Tertentu

In [3]:
(df['A']<5).sum()

5

In [4]:
(df['A']<5).mean()

0.5