# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.1.4
1.26.4

# Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   5   9   6   8   2
1  17  16   1   4  19
2   4   3  12  12  16
3  19   9  19   3   6
4  18  10   2   3  15
5  15  18  19  13  17
6   7  14   2   4   4
7  14  16   4  18  17
8  12  17  19  17   3
9   4  18  12  10   3

# Seleksi kolom dan baris menggunakan loc

In [4]:
df.loc[[0,3,4], ['B','E']]

    B   E
0   9   2
3   9   6
4  10  15

# Seleksi baris dengan kondisi

In [5]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
1  16   4  19
5  18  13  17
6  14   4   4
7  16  18  17
8  17  17   3
9  18  10   3

# Slicing Data Frame dengan loc

In [6]:
df.loc[0:4, 'B':'D']

    B   C   D
0   9   6   8
1  16   1   4
2   3  12  12
3   9  19   3
4  10   2   3